@page "/maintenance/add-ticket"

<MudContainer MaxWidth="MaxWidth.Medium">

    <MudPaper Elevation="3">

        <MudForm @ref="_addForm">
            <MudStack Class="ma-4">

                <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                    <div style="border-bottom: 2px black solid;">
                        <MudText Typo="Typo.h6">Hibabejelentés</MudText>
                    </div>
                    <MudIcon Icon="@Icons.Material.Filled.HomeRepairService" />
                </MudStack>

                <MudGrid>
                    <MudItem xs="12" md="10">
                        <MudTextField @bind-Value="ticket.Title" Label="Címke" Variant="Variant.Outlined" FullWidth="true" />
                    </MudItem>
                    <MudItem xs="12" md="2">
                        <MudNumericField @bind-Value="ticket.RoomNumber" Label="Szobaszám" Variant="Variant.Outlined" FullWidth="true" />
                    </MudItem>
                </MudGrid>

                <MudTextField T="string"
                    Label="Leírás"
                    Variant="Variant.Outlined"
                    Lines="8"
                    @bind-Value="ticket.Description" />

                <MudStack Row="true" Justify="Justify.FlexEnd" Spacing="2" Class="mt-4">
                    <MudButton Variant="Variant.Outlined"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.Save"
                               OnClick="HandleSubmit">
                        Mentés
                    </MudButton>
                </MudStack>

            </MudStack>

        </MudForm>

    </MudPaper>
</MudContainer>

@code {
    [Inject] NavigationManager NavigationManager { get; set; }
    [Inject] IMaintenanceService MaintenanceService { get; set; } = default!;

    MudForm _addForm;
    TicketDTO ticket = new();

    async Task HandleSubmit()
    {
        await _addForm.Validate();

        if (_addForm.IsValid)
        {
            await MaintenanceService.CreateNewTicketAsync(ticket);
            NavigationManager.NavigateTo("/maintenance/tickets");
        }
    }
}
