<div class="ma-4">
    <MudForm @ref="_rateMudForm">

        <div class="d-flex flex-column align-center">
            <MudRating SelectedValue="Ticket.Rating ?? 0" />
            <MudText Typo="Typo.subtitle2" Class="deep-purple-text ma-2">Értékeld a munkánkat!</MudText>
        </div>

        <MudTextField T="string"
                      Label="Leírás"
                      Required="false"
                      Variant="Variant.Outlined"
                      Lines="8"
                      @bind-Value="Ticket.RatingComment" />

        <MudStack Row="true" Justify="Justify.FlexEnd" Spacing="2" Class="mt-4">
            <MudButton Variant="Variant.Outlined"
                       Color="Color.Secondary"
                       OnClick="Cancel">
                Mégse
            </MudButton>

            <MudButton Variant="Variant.Outlined"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.Save"
                       OnClick="HandleSubmit">
                Mentés
            </MudButton>
        </MudStack>

    </MudForm>
</div>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = default!;

    [Inject] IMaintenanceService MaintenanceService { get; set; } = default!;

    [Parameter] public TicketDTO Ticket { get; set; } = new();

    MudForm _rateMudForm;

    async Task HandleSubmit()
    {
        await _rateMudForm.Validate();

        if (_rateMudForm.IsValid)
        {
            var dialogResult = await MaintenanceService.RateTicket(Ticket);

            if (dialogResult)
            {
                MudDialog.Close(DialogResult.Ok(Ticket));
            }
        }
    }

    private void Cancel() => MudDialog.Cancel();
}
